@charset "utf-8";
@import url(./reset.css);

.container {
  width: min(1080px, 100% - 30px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.center {
  justify-content:center;
  align-items:center;
}

a {
  /* NO */
  text-decoration: none;
  color: inherit;
}